﻿@{
    ViewData["Title"] = "Sobre o Torneio";
}

<link href="~/css/sobre.css" rel="stylesheet" />

<div class="container">
    <div class="texto">
        <p>
            Este é um projeto de torneio de luta baseado no jogo Pokemon.
            Na tela principal haverá 25 pokemons disponíveis, podendo apenas
            escolher 16 para participarem no torneio. Cada pokemon possui
            estatísticas que decidirá se ele vencerá uma batalha ou não.
            A ordem de prioridade para os critérios que fará um pokemon
            ganhar uma luta são, respectivamente, a porcentagem de vitórias,
            a quantidade de estilos e a quantidade de lutas.
            <br><br>
            O torneio iniciará a partir das oitavas de final e irá
            prosseguindo até chegar a final. A ordem e o chaveamento em que
            os pokemons irão batalhar é a partir da idade, onde na primeira
            rodada, cada pokemon irá batalhar com o pokemon seguinte com a
            idade mais próxima.
        </p>
    </div>
    <div class="imagem">
        <img src="~/img/trofeu.png" />
    </div>
</div>
