@{ 
    ViewData["Title"] = "Sobre o Torneio";
}

<link href="~/css/sobre.css" rel="stylesheet" />

<div class="container">
    <div class="texto">
        <p>
            Este é um projeto de torneio de luta baseado na competição de CS GO.
            Na tela principal haverá 20 competidores disponíveis, podendo apenas
            escolher 16 para participarem no torneio. Cada competidor possui
            estatísticas que decidirá se ele vencerá um round ou não.
            A ordem de prioridade para os critérios que fará um competidor
            ganhar um round são, respectivamente, a porcentagem de vitórias,
            a quantidade de Kills e a quantidade de partidas.
            <br><br>
            O torneio iniciará a partir das oitavas de final e irá
            prosseguindo até chegar a final. A ordem e o chaveamento em que
            os competidores irão batalhar é a partir da idade, onde na primeira
            rodada, cada competidor irá batalhar com o competidor seguinte com a
            idade mais próxima.
        </p>
    </div>

</div>
