﻿
<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8" />

    <link rel="stylesheet" href="~/css/torneio.css" />

</head>





<body>
    <div class="container-well">







        <div class="container-button">

            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">
                Participar
            </a>


        </div>

    </div>






</body>




