
.container {
    background-color:;
}



button{
    margin-bottom:10px;
    margin-left:20px;
}

.logo {
    width: 5vw;
    height: 5vh;
    margin-right: 20px;
    border: 2px solid;
    border-radius: 5px;
    margin-left: 30px;
}

p {
    margin-left: 20px;
    font-size: 1.4em;
}


.text-center {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    grid-gap: 20px 20px;
    justify-items: center;
    color: white;

}

.cardCompetidor {
    background-position: center;
    background-size: cover;
    height: 310px;
    width: 220px;
    border: 1px solid #000000;
    display: flex;
    align-items: flex-end;
    position: relative; /*Position relative is required*/

}

.headCardCompetidor {
    color: white;


}

.dadosCompetidor {
    color: white;

}



.cardCompetidor.selectedCard {
    border: 5px solid #e6c619;
}


@media (max-width: 800px) {
    .listaCards {

        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    .listaCards {
        grid-template-columns: repeat(1, 1fr);
    }
}